.idea
.vscode
*_Spoiler.txt
*.bmbp
*.log
*_Spoiler.json
*.pyc
*.sfc
*.srm
*.bst
*.wixobj
build
bundle/components.wxs
dist
README.html
.vs/
*multidata
*multisave
EnemizerCLI/
.mypy_cache/
RaceRom.py
upx/
weights/
/MultiMystery/
/Players/
/QUsb2Snes/

base2current.json

resources/user/*
!resources/user/.gitkeep

*.exe

get-pip.py

venv
test
data/sprites/official/selan.1.zspr
*.zspr
