.idea
.vscode
*_Spoiler.txt
*.pyc
*.sfc
*.srm
*.bst
*.wixobj
build
bundle/components.wxs
dist
README.html
.vs/
*multidata
*multisave
EnemizerCLI/
.mypy_cache/
RaceRom.py
weights/

settings.json
working_dirs.json

venv
test
