.idea
.vscode
*_Spoiler.txt
*.bmbp
*.log
*_Spoiler.json
*.pyc
*.sfc
*.srm
*.bst
*.wixobj
build
bundle/components.wxs
dist
README.html
.vs/
*multidata
*multisave
EnemizerCLI/
.mypy_cache/
RaceRom.py
upx/
weights/
/MultiMystery/
/Players/
/QUsb2Snes/
/tests/

resources/user/*
!resources/user/.gitkeep

*.exe

get-pip.py

venv
test
*.zspr
data/base2current.json
TestSuite.py

crystal_regions.py
